/* header */
#nav{
    width: 100dvw;
    height: auto;
    gap: 5dvw;
}

#nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    font-size: 20dvw;

    margin-inline: 15dvw;

    margin-top : 3dvh;
    margin-bottom : 3dvh;
}

#logo-container {}

#logo {
    font-size: 3dvw;
    font-family: Poppins;
}

#column-conatiner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    gap: 2dvw;
}

.column {
    padding: 5px;
    display: inline-flex;
    align-items: flex-start;
    color: var(--Primary, #03045E);
    
    font-family: Roboto;
    font-style: normal;
    font-size: 1.5dvw;
    font-weight: 400;
    line-height: 150%; 
}

.column:hover{
    color: var(--column-hovered, #5E3BEE);
}

#contact-container {
    
}

#contact {
    display: flex;
    padding: 1dvw 2dvw 1dvw 2dvw;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 4px;
    border: 1px solid black;
    background-color: #fff;

    font-size: 2dvw;
}

#contact:hover{
    background-color: #5E3BEE
}

.container {
    display: flex;
    align-items: center;
    margin : 8dvw;
}

/* main-container */

#main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: var(--BG-Shade, #F5FCFF);
}

#main-left {
    flex-direction: column;
    justify-content: space-around;

    align-items: start;
    
    align-self: stretch;
}

#nickname {
    color: var(--Dark-Blue, #03045E);
    font-family: Poppins;
    font-size: 4dvw;
    font-style: normal;
    font-weight: 800;
    line-height: 15dvw;
}

#main-left-title {
    color: var(--Primary, #5E3BEE);
    font-family: Poppins;
    font-size: 6dvw;
    font-style: normal;
    font-weight: 800;
    line-height: 15dvw;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: stretch;

    font-size: 2dvw;
}

#get-in-touch-button a{
    display: inline-flex;
    align-items: center;

    border-radius: 1dvw;
    border-color: #5E3BEE;
    background: var(--Primary, #5E3BEE);
    color: white;

    font-size: 2dvw;

    padding: 1.5dvw;
    margin-top: 2dvw;
    margin-left: 1dvw;
    margin-bottom: 2dvw;
}

#main-right {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
}

#profile-img-container {
    width:30dvw;
}

#profile-img{
    width : inherit;
    height: inherit;
}

/* detail container */

#detail-container{
    display: inline-block;
}

.h1-title {
    display: flex;

    color: var(--Dark-Blue, #03045E);
    font-family: Poppins;
    font-size: 7dvw;

    font-weight: 800;
    line-height: 10dvw;

    margin-top: 2dvh;
    margin-bottom: 2dvh;
}

#detail-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 5dvw;
}

.detail-list-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail{
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 1dvw;
    

    gap: 32px;
    flex: 1 0 0;

    border-radius: 10.667px;
    background: var(--BG-Shade, #F5FCFF);
}

.detail:hover{
    border-bottom: 4px solid var(--Primary, #5E3BEE);
}

.detail img{
    padding: 1dvw;
    margin: 1dvw;

    display: inline-flex;

    width : 5dvw;
    height: 5dvh;

    border-radius: 10.667px;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.10);
}

.detail h3{
    display: inline-block;

    color: var(--Heading-color, #282938);
    font-family: Roboto;
    font-size: 2dvh;
    font-style: normal;
    font-weight: 250;
    line-height: 140%;
    
    margin-top: 1dvh;
}

.detail-list-content{
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.detail-list-content p{
    font-size: 1dvw;
    color: var(--Heading-color, #282938);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

/* About Me */

#about-me-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#about-left img{ 
    width: 30dvw;
    height: 20dvw;
}

#about-right {
    align-items: center;
    display: inline-block;
    /* padding-right: 10dvw; */
}

#about-right-content {
    color: var(--Body, #1C1E53);
    font-family: Roboto;
    font-size: 2dvw;
    font-style: normal;
    font-weight: 200;
    line-height: 150%;
}

/* portfolio */

#my-portfolio-container{
    display: inline-block;
}

#my-portfolio-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 20dvw; */
}

#my-portfolio-title {
    display: inline-block;
}

#portfolio-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3dvw;

    border-radius: 10.667px;
    background: #E62872;
    box-shadow: 0px 1.333px 2.667px 0px rgba(16, 24, 40, 0.05);

    margin-top: 3dvh;
    margin-bottom: 3dvh;

    padding: 1dvw;
}

#portfolio-page a{
    color: #FFF;
    font-family: Roboto;
    font-size: 2dvw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.portfolio-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    gap: 3dvw;
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 2dvw;
    box-shadow: 0 0 1dvh 0.01dvh gray;
}

.portfolio:hover {
    border-bottom: 4px solid var(--Primary, #5E3BEE);
}


.img-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio-img{
    width: 10dvw;
    height: 10dvw;

    padding: 3dvw;
    margin: 1dvw;
}

.portfolio-info {
    padding: 3dvw;
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.portfolio-name{
    color: var(--Heading-color, #282938);
    font-family: Roboto;
    font-size: 3dvw;
    font-weight: 700;
    line-height: 140%;
}

.portfolio-detail {
    color: var(--Body, #1C1E53);
    font-family: Roboto;
    font-size: 2dvh;
    font-weight: 400;
    line-height: 150%;
}

.portfolio-link {
    color: var(--Black, #000);
    font-family: Roboto;
    font-size: 2dvh;

    font-weight: 300;
    line-height: 150%; 
}